@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+20&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
}

.logo h1{
    font-family: "Dancing Script", cursive;
    color: #180f4a;
    font-size: 34px;
}

.menu {
    flex: 70%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    font-family: "Roboto", sans-serif;
}

.menu a:hover{
    color:#ff2978;
    border-top: 4px solid #180f4a;
}

#botao{
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #ff2978;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 100px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /* border:1px solid black */
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid deeppink; */
}

.headline h2{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.headline p{
    color: gray;
    font-family: "Roboto", sans-serif;
}

.contact-btn{
    display: inline-block;
    background: #ff2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.contact-btn:hover{
    background: #180f4a;
}

section {
    display: inline-block;
    margin-top: 80px;
    /* border:1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    width: 90%;
}

section h2{
    font-family: "Dancing Script", cursive;
    width:100%;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    color: #180f4a;
}

.servicos {
    display: inline-block;
    margin-top:5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin:1%;
    border: 1px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    background: #ff2978;
    color: white;
    padding: 40px;
    transition: all 0.3s ease;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto {
    display: block;
}

.texto-oculto {
    display: none;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180f4a, #090422, black);
    text-align: center;
    border-top: 5px solid #ff2978;
}

.logo-rodape {
    padding: 100px;
}

.agencia{
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 34px;
}

.whatsapp {
    width: 200px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}